<h1> {{titleText}} </h1>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Properties
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">

                <span *ngIf="isRealtorAccessingFlag">
                    <thead>
                        <tr>
                            <th width="15%">
                                <mfDefaultSorter by="property_name">Property Name</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="property_name">Buyer Name</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="property_name">Seller Name</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="current_status">Current Status</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="buyer_asking_price">Buyer Asking Price</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="buyer_remarks">Buyer Remarks</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="seller_remarks">Seller Remarks</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="agreement_document_name">Agreement Document</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of mf.data; let i = index">
                            <td>{{data.property_name}}</td>
                            <td>{{data.buyer_name}}</td>
                            <td>{{data.seller_name}}</td>
                            <td>{{data.current_status}}</td>
                            <td>{{data.buyer_asking_price}}</td>
                            <td>{{data.buyer_remarks}}</td>
                            <td>{{data.seller_remarks}}</td>
                            <td>
                                <a href="{{data.agreement_document_url}}">{{data.agreement_document_name}}</a>
                            </td>
                            <td>
                                <button class="btn btn-danger" value={{data.current_status}}#{{data.property_uuid}}
                                    (click)="onClickView($event)">
                                    View
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" value={{data.current_status}}#{{data.uuid}}
                                    (click)="onClickClose($event)">
                                    Close Deal
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </span>

                <span *ngIf="isBuyerAccessingFlag">
                    <thead>
                        <tr>
                            <th width="15%">
                                <mfDefaultSorter by="property_name">Property Name</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="current_status">Current Status</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="buyer_asking_price">Buyer Asking Price</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="seller_remarks">Seller Remarks</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of mf.data; let i = index">
                            <td>{{data.property_name}}</td>
                            <td>{{data.current_status}}</td>
                            <td>{{data.buyer_asking_price}}</td>
                            <td>{{data.seller_remarks}}</td>
                            <td>
                                <button class="btn btn-danger" value={{data.current_status}}#{{data.property_uuid}}
                                    (click)="onClickView($event)">
                                    View
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </span>


                <span *ngIf="isSellerAccessingFlag">
                    <thead>
                        <tr>
                            <th width="15%">
                                <mfDefaultSorter by="property_name">Property Name</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="current_status">Current Status</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="buyer_asking_price">Buyer Asking Price</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="buyer_remarks">Buyer Remarks</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of mf.data; let i = index">
                            <td>{{data.property_name}}</td>
                            <td>{{data.current_status}}</td>
                            <td>{{data.buyer_asking_price}}</td>
                            <td>{{data.buyer_remarks}}</td>
                            <td>
                                <button class="btn btn-danger" value={{data.uuid}} (click)="onClickEdit($event)">
                                    Edit Status
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" value={{data.current_status}}#{{data.property_uuid}}
                                    (click)="onClickView($event)">
                                    View
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </span>


                <span *ngIf="isLandRegistryAccessingFlag">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="property_name">Property Name</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="current_status">Current Status</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="is_document_approved">Are Documents Approved ?</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="agreement_document_name">Agreement Document</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of mf.data; let i = index">
                            <td>{{data.property_name}}</td>
                            <td>{{data.current_status}}</td>
                            <td>{{data.is_document_approved}}</td>
                            <td>
                                <a href="{{data.agreement_document_url}}">{{data.agreement_document_name}}</a>
                            </td>
                            <td>
                                <button class="btn btn-danger" value={{data.uuid}}
                                    (click)="onClickApproval($event)">
                                    View
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </span>

                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>