<h1> New Property Details </h1>
<div class="row">
    <br>
</div>
<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-10">
            <fieldset [disabled]="!isEditableFlag">
                <div class="card">
                    <div class="card-header">
                        <strong>Location of Property</strong>
                    </div>
                    <div class="card-body">
                        <div class="map" style="width:100%; height:50vh;" (leafletMapReady)="onMapReady($event)" leaflet
                            [leafletOptions]="options">
                        </div>
                    </div>
                </div>

                <tabset>
                    <tab>
                        <ng-template tabHeading>
                            <i class="icon-list"></i> Property Information</ng-template>
                        <div class="card">
                            <div class="card-header">
                                <strong>Details of Property</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group row" *ngIf="showDisplaySellerList">
                                    <label class="col-md-3 col-form-label" for="property_name">Select Seller
                                        <strong>(*)</strong></label>
                                    <div class="col-md-6">
                                        <select [(ngModel)]="property.seller_uuid" name="seller_uuid"
                                            class="form-control form-control-lg" required>
                                            <option *ngFor="let seller of sellerList" [value]="seller.uuid">
                                                {{seller.first_name}}{{htmlSpace}}{{seller.last_name}}</option>
                                        </select>
                                    </div>
                                </div>


                                <!-- <div> Upload Property Document
                                    <div class="panel-body">
                                        <img [src]="htmlImageLink" class="img-fluid img-main" style="width:50%;" />
                                    </div>
                                    <label class="btn btn-default">
                                        <input type="file" id="htmlImageLink" (change)="onImageUpload($event)">
                                    </label>
                                </div> -->


                                <div class="form-group row" *ngIf="isEditableFlag">
                                    <label class="col-md-3 col-form-label" for="property_document">Upload Property
                                        Document </label>
                                    <div class="col-md-6">
                                        <input type="file" id="htmlImageLink" (change)="onFileUpload($event)">
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="!isNewPropertyFlag">
                                    <label class="col-md-3 col-form-label" for="document_location_url">Property
                                        Document</label>
                                    <div class="col-md-6">
                                        <a href={{property.document_location_url}} (click)="onClickDisplayFile()">{{property.document_name}}</a>
                                        <!-- <a href="{{property.document_location_url}}" onclick="window.open(this.href,'targetWindow',
                                   'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes,width=300, height=300'); 
                                   return false;"> {{property.document_name}}</a> -->

                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_name">Property Name
                                        <strong>(*)</strong></label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_name" type="text" name="property_name"
                                            class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_address">Property Address
                                        <strong>(*)</strong></label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_address" type="text"
                                            name="property_address" class="form-control" placeholder="" required>
                                    </div>
                                    <button class="btn btn-secondary" type="button" (click)="onClickNewGIS()">Show in
                                        Map</button>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_dimension">Property Dimension
                                        <strong>(*)</strong></label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_dimension" type="text"
                                            name="property_dimension" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="landmark">Landmark</label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.landmark" type="text" name="landmark"
                                            class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_price">Property Price
                                        <strong>(*)</strong></label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_price" type="text" name="property_price"
                                            class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="current_market_price">Current Market
                                        Price <strong>(*)</strong></label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.current_market_price" type="text"
                                            name="current_market_price" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_documents_hash">Property
                                        Documents (hash)
                                    </label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_documents_hash" type="text"
                                            name="property_documents_hash" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_images_hash">Property Images
                                        (hash)</label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_images_hash" type="text"
                                            name="property_images_hash" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="property_video_hash">Property Video
                                        (hash)</label>
                                    <div class="col-md-6">
                                        <input [(ngModel)]="property.property_video_hash" type="text"
                                            name="property_video_hash" class="form-control" placeholder="">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tab>

                    <tab>
                        <ng-template tabHeading>
                            <i class="icon-pie-chart"></i> Property Tax Details</ng-template>
                        <fieldset [disabled]="!isLandRegistryUserFlag">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Details of Taxes</strong>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="registration_charges">Registration
                                            Charges</label>
                                        <div class="col-md-6">
                                            <input [(ngModel)]="property.registration_charges" type="text"
                                                name="registration_charges" class="form-control" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="stamp_duty_fees">Stamp Duty
                                            Fees</label>
                                        <div class="col-md-6">
                                            <input [(ngModel)]="property.stamp_duty_fees" type="text"
                                                name="stamp_duty_fees" class="form-control" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="gst">GST</label>
                                        <div class="col-md-6">
                                            <input [(ngModel)]="property.gst" type="text" name="gst"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </tab>

                    <tab>
                        <ng-template tabHeading>
                            <i class="icon-pie-chart"></i> Property Dispute Information</ng-template>
                        <div class="card">
                            <div class="card-header">
                                <strong>Property Disputes (if any)</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="dispute_between_parties">Dispute between
                                        parties
                                    </label>
                                    <div class="col-md-6">
                                        <textarea [(ngModel)]="property.dispute_between_parties" type="text"
                                            name="dispute_between_parties" class="form-control"
                                            placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="description_of_disputes">Description of
                                        disputes
                                    </label>
                                    <div class="col-md-6">
                                        <textarea [(ngModel)]="property.description_of_disputes" type="text"
                                            name="description_of_disputes" class="form-control"
                                            placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>


                    <tab>
                        <ng-template tabHeading>
                            <i class="icon-pie-chart"></i> Court Case Against Property</ng-template>
                        <div class="card">
                            <div class="card-header">
                                <strong>Court Cases (if any)</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="list_of_cases">List of Cases</label>
                                    <div class="col-md-6">
                                        <textarea [(ngModel)]="property.list_of_cases" type="text" name="list_of_cases"
                                            class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>


                </tabset>

            </fieldset>

            <div class="form-actions">
                <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()"
                    *ngIf="isEditableFlag">Save Property</button>
                <button class="btn btn-secondary" type="button" *ngIf="isEditableFlag">Cancel</button>
            </div>



        </div>

    </div>
</form>