<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Buyers
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="15%">
                            <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="phone_number">Phone Number</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="passport">Passport Number</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="DL">Driver License</mfDefaultSorter>
                        </th>
                        <!-- <th width="10%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data; let i = index">
                        <td> {{data.first_name}} </td>
                        <td> {{data.last_name}} </td>
                        <td> {{data.phone_number}} </td>
                        <td> {{data.email}} </td>
                        <td> {{data.passport}}</td>
                        <td>{{data.DL}}</td>
                        <!-- <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.first_name" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.last_name" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.phone_number" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.email" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.passport" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td class="actions">
                            <inline-editor empty="" type="text" [(ngModel)]="data.DL" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>                         -->
                        <!-- <td>
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickDelete($event)">
                                xDelete
                            </button>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>