<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Properties Interested
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="33%">
                            <mfDefaultSorter by="property_uuid">Property</mfDefaultSorter>
                        </th>
                        <th width="33%">
                            <mfDefaultSorter by="current_status">Current Status</mfDefaultSorter>
                        </th>
                        <th width="33%">
                            <mfDefaultSorter by="buyer_asking_price">Buyer Asking Price</mfDefaultSorter>
                        </th>
                       
                        <!-- <th width="20%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let data of mf.data; let i = index">
                        <td>{{data.property_uuid}}</td>
                        <td>{{data.current_status}}</td>
                        <td>{{data.buyer_asking_price}}</td>                      
                        <!-- <td>
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickDelete($event)">
                                xDelete
                            </button>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>