<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Properties Available for Sale
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="15%">
                            <mfDefaultSorter by="property_name">Property Name</mfDefaultSorter>
                        </th>
                        <th width="15%" *ngIf="showSellerName">
                            <mfDefaultSorter by="current_market_price">Seller Name</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="property_dimension">Dimension</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="property_price">Property Price</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="current_market_price">Current Market Price</mfDefaultSorter>
                        </th>
                        <th width="10%" *ngIf="showActionFlag">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let data of mf.data; let i = index">
                        <td>{{data.property_name}}</td>
                        <td *ngIf="showSellerName">{{data.seller_name}}</td>
                        <td>{{data.property_dimension}}</td>
                        <td>{{data.property_price}}</td>
                        <td>{{data.current_market_price}}</td>
                        <td *ngIf="showActionFlag">
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickEdit($event)">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>