<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Sold Properties
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="33%">
                            <mfDefaultSorter by="property_name">Property</mfDefaultSorter>
                        </th>
                        <th width="33%">
                            <mfDefaultSorter by="buyer_name">Buyer</mfDefaultSorter>
                        </th>
                        <th width="33%">
                            <mfDefaultSorter by="seller_name">Seller</mfDefaultSorter>
                        </th>
                       
                        <!-- <th width="20%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let data of mf.data; let i = index">
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.property_name" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.buyer_name" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        <td>
                            <inline-editor empty="" type="text" [(ngModel)]="data.seller_name" (onSave)="modifyTableData($event)"
                                name="editableText1" size="8"></inline-editor>
                        </td>
                        
                        <!-- <td>
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickDelete($event)">
                                xDelete
                            </button>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>