<div class="row">
  <div class="col-sm-8">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-calculator"></i> Business </ng-template>

        <div class="form-group">
          <label for="businessName">Business Name</label>
          <input type="text" [(ngModel)]="vendorProfile.name" name="businessName" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="businessAddress">Business Address</label>
          <input type="text" [(ngModel)]="vendorProfile.address" name="businessAddress" class="form-control"
            placeholder="">
        </div>
        <div class="form-group">
          <label for="aboutBusiness">About you Business</label>
          <input type="text" [(ngModel)]="vendorProfile.about" name="aboutBusiness" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="website">Business Website</label>
          <input type="text" [(ngModel)]="vendorProfile.website" name="website" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="website">Business Hours</label>
          <div class="form-group row">
            <label for="startTime" style="color:#919294;" class="col-md-3 col-form-label">Working Days</label>
            <div class="col-md-3 col-form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox1" [(ngModel)]="vendorProfile.working_days.monday">
                <label class="form-check-label" for="checkbox1">
                  Monday
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox2" [(ngModel)]="vendorProfile.working_days.tuesday">
                <label class="form-check-label" for="checkbox2">
                  Tuesday
                </label>
              </div>
              <div class="form-check checkbox">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3" [(ngModel)]="vendorProfile.working_days.wednesday">
                <label class="form-check-label" for="checkbox3">
                  Wednesday
                </label>
              </div>
              <div class="form-check checkbox">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3" [(ngModel)]="vendorProfile.working_days.thursday">
                <label class="form-check-label" for="checkbox3">
                  Thursday
                </label>
              </div>
            </div>
            <div class="col-md-3 col-form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox1" [(ngModel)]="vendorProfile.working_days.friday">
                <label class="form-check-label" for="checkbox1">
                  Friday
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox2" [(ngModel)]="vendorProfile.working_days.saturday">
                <label class="form-check-label" for="checkbox2">
                  Saturday
                </label>
              </div>
              <div class="form-check checkbox">
                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3" [(ngModel)]="vendorProfile.working_days.sunday">
                <label class="form-check-label" for="checkbox3">
                  Sunday
                </label>
              </div>
            </div>
          </div>
          <label for="startTime" style="color:#919294;" class="col-md-3 col-form-label">Working Hours</label>
          <div class="col-md-3 col-form-label">
            <div class="form-group" style="display:inline-flex;">
              <input type="time" class="form-control" aria-describedby="startTimeHelp" [(ngModel)]="vendorProfile.start_time"
                name="start_time" style="background-color: #f4f4f4;border:none ;" />
              <span>&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;</span>
              <input type="time" class="form-control" aria-describedby="endTimeHelp" [(ngModel)]="vendorProfile.end_time"
                name="end_time" style="background-color: #f4f4f4;border:none" />
            </div>
          </div>

          <div> Upload New Profile Image
            <div class="panel-body">
              <img [src]="htmlProfileImageLink" class="img-fluid img-main" style="width:50%;" />
            </div>
            <label class="btn btn-default">
              <input type="file" id="htmlProfileImageLink" (change)="onImageUpload($event, 1)">
            </label>
          </div>

          <div> Upload New Cover Image
            <div class="panel-body">
              <img [src]="htmlCoverImageLink" class="img-fluid img-main" style="width:50%;" />
            </div>
            <label class="btn btn-default">
              <input type="file" id="htmlCoverImageLink" (change)="onImageUpload($event, 2)">
            </label>
          </div>

          <div> Upload New Logo Image
            <div class="panel-body">
              <img [src]="htmlLogoImageLink" class="img-fluid img-main" style="width:50%;" />
            </div>
            <label class="btn btn-default">
              <input type="file" id="htmlLogoImageLink" (change)="onImageUpload($event, 3)">
            </label>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" (click)="updateProfile()">Update changes</button>
            <button class="btn btn-secondary" type="button">Cancel</button>
          </div>
        </div>
      </tab>

      <tab>
        <ng-template tabHeading><i class="icon-basket-loaded"></i>Personal </ng-template>
        <div class="card">
          <div class="card-header">
            <strong>Personal Details</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="company">Personal Name</label>
              <input type="text" [(ngModel)]="userProfile.name" name="name" class="form-control" id="company"
                placeholder="" disabled>
            </div>
            <div class="form-group">
              <label for="vat">Gmail ID</label>
              <input type="text" [(ngModel)]="userProfile.email" name="email" class="form-control" id="vat" placeholder=""
                disabled>
            </div>
            <div class="form-group">
              <label for="street">Google ID</label>
              <input type="text" [(ngModel)]="userProfile.google_id" name="googleId" class="form-control" id="street"
                placeholder="" disabled>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<!-- 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <button class="btn navbar-btn" (click)="showPageNumber(1)">Business</button>
      </li>
      <li>
        <button class="btn btn-danger navbar-btn" (click)="showPageNumber(2)">Personal</button>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="currentPageNumber == 1">
  <div class="container">
    <div class="row">
      <h2>Business Profile</h2>
      <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
          <div class="col-md-2">
            <label style="padding:20px;color:#919294;">Business Name</label>
          </div>
          <div class="col-md-10">
            <div class="form-group" style="margin-top: 10px;">
              <input type="text" class="form-control" id="name" placeholder="" aria-describedby="nameHelp" [(ngModel)]="vendorProfile.name"
                name="name" style="height:40px;" />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
          <div class="col-md-2">
            <label style="padding:20px;color:#919294;">About your Business</label>
          </div>
          <div class="col-md-10">
            <div class="form-group" style="margin-top: 10px;">
              <input type="text" class="form-control" id="about" placeholder="About your Business" aria-describedby="About Your Business"
                [(ngModel)]="vendorProfile.about" name="address" style="height:40px;" />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
          <div class="col-md-2">
            <label style="padding:20px;color:#919294;">Your Business Address</label>
          </div>
          <div class="col-md-10">
            <div class="form-group" style="margin-top: 10px;">
              <input type="text" class="form-control" id="address" placeholder="Your Business Address" aria-describedby="addressHelp"
                [(ngModel)]="vendorProfile.address" name="address" style="height:40px;" />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
          <div class="col-md-2">
            <label style="padding:20px;color:#919294;">Website</label>
          </div>
          <div class="col-md-10">
            <div class="form-group" style="margin-top: 10px;">
              <input type="text" class="form-control" id="website" placeholder="" aria-describedby="websiteHelp"
                [(ngModel)]="vendorProfile.website" name="website" style="height:40px;" />
              <small id="websiteHelp" class="form-text text-muted"></small>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
          <div class="col-md-2">
            <label style="padding:20px;color:#919294;">Business Hours</label>
          </div>
          <div class="col-md-8" style="display: inline-flex;">
            <label for="startTime" style="color:#919294;">Choose Days</label>
            <br />
            <div class="checkbox-div-wrapper" style="margin-top: 20px;;display: inline-flex;">
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="monday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.monday">
                </div>
              </div>
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="tuesday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.tuesday">
                </div>
              </div>
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="wednesday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.wednesday">
                </div>
              </div>
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="thrusday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.thursday">
                </div>
              </div>
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="friday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.friday">
                </div>
              </div>
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="saturday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.saturday">
                </div>
              </div>
              <div class="form-group" style="width:40px;">
                <div class="checkbox" class="sunday">
                  <input type="checkbox" id="c1" [(ngModel)]="vendorProfile.working_days.sunday">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="float:right;margin-top: -51px;">
            <label for="startTime" style="color:#919294;">Choose Working Hours: </label>
            <div class="form-group" style="display:inline-flex;">
              <input type="time" class="form-control" aria-describedby="startTimeHelp" [(ngModel)]="vendorProfile.start_time"
                name="start_time" style="background-color: #f4f4f4;border:none ;width:120px;" />
              <span>&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;</span>
              <input type="time" class="form-control" aria-describedby="endTimeHelp" [(ngModel)]="vendorProfile.end_time"
                name="end_time" style="background-color: #f4f4f4;width:120px;border:none" />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="border-bottom: 1px solid #eee;">
          <div class="col-md-2">
            <label style="padding:30px;color:#919294;">Choose a color scheme: </label>
          </div>
          <div class="col-md-10">
            <div class="form-group" style="margin-top: 10px;">
              <input type="color" class="form-control" [(ngModel)]="vendorProfile.color_scheme" id="color">
              <small id="colorHelp" class="form-text text-muted">Helps you display proper color scheme for your
                customer.</small>
            </div>
          </div>
        </div>
       
        <div> Upload New Profile Image
          <div class="panel-body">
            <img [src]="htmlProfileImageLink" class="img-fluid img-main" style="width:50%;" />
          </div>
          <label class="btn btn-default">
            <input type="file" id="htmlProfileImageLink" (change)="onImageUpload($event, 1)">
          </label>
        </div>

        <div> Upload New Cover Image
          <div class="panel-body">
            <img [src]="htmlCoverImageLink" class="img-fluid img-main" style="width:50%;" />
          </div>
          <label class="btn btn-default">
            <input type="file" id="htmlCoverImageLink" (change)="onImageUpload($event, 2)">
          </label>
        </div>

        <div> Upload New Logo Image
          <div class="panel-body">
            <img [src]="htmlLogoImageLink" class="img-fluid img-main" style="width:50%;" />
          </div>
          <label class="btn btn-default">
            <input type="file" id="htmlLogoImageLink" (change)="onImageUpload($event, 3)">
          </label>
        </div>

      </div>
      <button class="btn btn-primary" (click)="updateProfile()" style="background-color: hsl(212, 100%, 67%);width: 120px">Update</button>
      
    </div>
  </div>

</div>

<div *ngIf="currentPageNumber == 2">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Personal Details</strong>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Personal Name</label>
          <input type="text" [(ngModel)]="userProfile.name" name="name" class="form-control" id="company" placeholder="">
        </div>
        <div class="form-group">
          <label for="vat">Gmail ID</label>
          <input type="text" [(ngModel)]="userProfile.email" name="email" class="form-control" id="vat" placeholder="">
        </div>
        <div class="form-group">
          <label for="street">Google ID</label>
          <input type="text" [(ngModel)]="userProfile.google_id" name="googleId" class="form-control" id="street"
            placeholder="">
        </div>
      </div>
    </div>
  </div>

</div> -->