<h1> Sell Property </h1>
<form #myForm="ngForm">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <strong>Sell</strong> Property
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="buyer_name">Buyer Name</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="sellProperty.buyer_name" type="text" name="buyer_name" class="form-control" placeholder="" required disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="seller_name">Seller Name</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="sellProperty.seller_name" type="text" name="seller_name" class="form-control" placeholder="" required disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="property_name">Property Name</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="sellProperty.property_name" type="text" name="property_name" class="form-control" placeholder="" required disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="commission">Commission
                            <strong>(*)</strong>
                        </label>
                        <div class="col-md-6">
                            <input [(ngModel)]="sellProperty.commission" type="text" name="commission" class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="final_price">Final Price
                            <strong>(*)</strong>
                        </label>
                        <div class="col-md-6">
                            <input [(ngModel)]="sellProperty.final_price" type="text" name="final_price" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="myForm.invalid" type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">
                        <i class="fa fa-dot-circle-o"></i> Close the deal</button>
                    <button type="reset" class="btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Cancel</button>
                </div>
            </div>

        </div>
    </div>
</form>

<!-- <div class="row">
    <div class="col-sm-8">

        <div class="form-group">
            <label for="name">Property</label>
            <select [(ngModel)]="sellproperty.property_uuid">
                <option *ngFor="let property of propertyList" [value]="property.uuid">{{property.address}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Buyer</label>
            <select [(ngModel)]="sellproperty.buyer_uuid">
                <option *ngFor="let buyer of buyerList" [value]="buyer.uuid">{{buyer.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Seller</label>
            <select [(ngModel)]="sellproperty.seller_uuid">
                <option *ngFor="let seller of sellerList" [value]="seller.uuid">{{seller.name}}</option>
            </select>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Sell Property</button>
            <button class="btn btn-secondary" type="button">Cancel</button>
        </div>
    </div>
</div>
 -->

<!-- 
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Sell</strong> Property
            </div>
            <div class="card-body">
                <form >

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select2">Select Property</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="sellproperty.property_uuid" name="property_uuid" class="form-control form-control-lg">
                                <option *ngFor="let property of propertyList" [value]="property.uuid">{{property.property_address}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select2">Select Buyer</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="sellproperty.buyer_uuid" name="buyer_uuid" class="form-control form-control-lg">
                                <option *ngFor="let buyer of buyerList" [value]="buyer.uuid">{{buyer.first_name}}{{htmlSpace}}{{buyer.last_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select2">Select Seller</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="sellproperty.seller_uuid" name="seller_uuid" class="form-control form-control-lg">
                                <option *ngFor="let seller of sellerList" [value]="seller.uuid">{{seller.first_name}}{{htmlSpace}}{{seller.last_name}}</option>
                            </select>
                        </div>
                    </div>



                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"  (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Sell Property</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>

    </div> -->
<!--/.row-->