<h1> Approve Property </h1>
<div class="row">
    <br>
</div>
<form #myForm="ngForm">
    <div class="card">
        <div class="card-header">
            <strong>Details of Taxes</strong>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="registration_charges">View Property Documemt</label>
                <div class="col-md-6">
                    <a href="{{property.document_url}}">{{property.document_name}}</a>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="agreement_document_url">View Agreement Documemt</label>
                <div class="col-md-6">
                    <a href="{{buyproperty.agreement_document_url}}">{{buyproperty.agreement_document_name}}</a>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="registration_charges">Registration
                    Charges</label>
                <div class="col-md-6">
                    <input [(ngModel)]="property.registration_charges" type="text" name="registration_charges"
                        class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="stamp_duty_fees">Stamp Duty
                    Fees</label>
                <div class="col-md-6">
                    <input [(ngModel)]="property.stamp_duty_fees" type="text" name="stamp_duty_fees"
                        class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="gst">GST</label>
                <div class="col-md-6">
                    <input [(ngModel)]="property.gst" type="text" name="gst" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="inline-radios">Approve Document </label>
                <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1" id="inline-radios">
                        <input class="form-check-input" [(ngModel)]="buyproperty.is_document_approved" [value]="true"
                            type="radio" name="inline-radios" id="inlineRadio1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [(ngModel)]="buyproperty.is_document_approved" [value]="false"
                            type="radio" name="inline-radios" id="inlineRadio2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="remarks_from_land_registry">Land Registry
                    Remarks</label>
                <div class="col-md-6">
                    <textarea [(ngModel)]="buyproperty.remarks_from_land_registry" type="text"
                        name="remarks_from_land_registry" class="form-control" placeholder=""></textarea>
                </div>
            </div>

            <!-- <div class="col-md-9 col-form-label">
                    <div class="form-check form-check-inline mr-1" id="inline-radios">
                        <input class="form-check-input" [value]="true" type="radio" name="inline-radios"
                            id="inlineRadio1" value="option1" [(ngModel)]="incentive.is_active">
                        <label class="form-check-label" for="inlineRadio1">Active</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                        <input class="form-check-input" [value]="false" type="radio" name="inline-radios"
                            id="inlineRadio2" value="option2" [(ngModel)]="incentive.is_active">
                        <label class="form-check-label" for="inlineRadio2">Inactive</label>
                    </div>
                </div> -->




        </div>
    </div>
    <div class="form-actions">
        <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()"
            *ngIf="isEditableFlag">Save Property</button>
        <button class="btn btn-secondary" type="button" *ngIf="isEditableFlag">Cancel</button>
    </div>
</form>