<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Sold Properties
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="15%">
                            <mfDefaultSorter by="property_name">Property Name</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="seller_name">Buyer Name</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="seller_name">Seller Name</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="commission">Commission</mfDefaultSorter>
                        </th>
                        <th width="15%">
                            <mfDefaultSorter by="final_price">Final Price</mfDefaultSorter>
                        </th>
                        <th width="10%">
                            <mfDefaultSorter by="action"></mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data; let i = index">
                        <td> {{data.property_name}} </td>
                        <td> {{data.buyer_name}} </td>
                        <td> {{data.seller_name}} </td>
                        <td> {{data.commission}} </td>
                        <td> {{data.final_price}} </td>
                        <td>
                            <button class="btn btn-danger" value={{data.property_uuid}} (click)="onClickView($event)"> View </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>