The campaigns details will be shown here.
  <div class="row">
    <section class="main">
      <section class="tab-content">
        <section class="tab-pane active fade in content" id="dashboard">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="card">
                <div class="card-header" data-background-color="orange">
                  <h4 class="title">Compaigns overview</h4>
                  <button class="btn btn-primary new-compaigns" style="">New Compaigns</button>
                </div>
                <div class="card-content table-responsive">
                  <div class="card">
                    <div class="card-header" data-background-color="orange">
                      <i class="fa fa-angle-down" style="color:#000;float: left;margin-right: 4px;" aria-hidden="true"></i>
                      <!-- <i class="fa fa-angle-up"  aria-hidden="true"></i> -->
                      <span>
                        <h4 class="title">2 DELIVERED</h4>
                      </span>
                    </div>
                    <div class="card-content table-responsive">
                      <div class="card" *ngFor="let number of [0,1]">
                        <div class="card-header" data-background-color="orange">
                          <h4 class="title">Free Cofee</h4>
                          <button class="btn btn-primary new-compaigns" style="">View Report</button>
                          <button class="btn btn-primary new-compaigns" style="">Review Email</button>
                        </div>
                        <div class="card-content table-responsive">
                          <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6">
                              <span>social media compaigns</span><br />
                              <span><b>Delivered</b>:july 27,2017</span>
                            </div>
                            <div class="col-sm-2">
                              <b>01</b><br /><small>Email delivered</small>

                            </div>
                            <div class="col-sm-2">
                              <b>0.0%</b><br /><small>click rate</small>

                            </div>
                            <div class="col-sm-2">
                              <b>0.0%</b><br /><small>open rate</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </div>
