<form #dashboardForm="ngForm">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <h4 class="title">{{dashboardHeading}}</h4>
          </div>

          <div class="card-content table-responsive" *ngIf="userType == 'Realtor'">
            <div class="row">
              <div class="col-3">
                <div class="card text-white bg-dark">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{totalBuyers}}</div>
                    <div>Buyers</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-3">
                <div class="card text-white bg-danger">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{totalSellers}}</div>
                    <div>Sellers</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-3">
                <div class="card text-white bg-info">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{totalProperties}}</div>
                    <div>Properties To Sell</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-3">
                <div class="card text-white bg-secondary">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{totalSellProperties}}</div>
                    <div>Sold Properties</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- -------------------------------------------- -->

          <div class="card-content table-responsive" *ngIf="buyer_showBuyerFlag">
            <div class="row">
              <div class="col-4">
                <div class="card text-white bg-dark">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{buyer_totalPropertiesForSale}}</div>
                    <div>Total Properties for Sale</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-4">
                <div class="card text-white bg-dark">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{buyer_totalPropertiesBought}}</div>
                    <div>Total Properties Bought</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-4">
                <div class="card text-white bg-danger">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{buyer_totalPropertiesRequested}}</div>
                    <div>Total Requested Properties</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
          </div>

          <!-- -------------------------------------------- -->

          <div class="card-content table-responsive" *ngIf="seller_showSellerFlag">
            <div class="row">
              <div class="col-6">
                <div class="card text-white bg-dark">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{seller_totalProperties}}</div>
                    <div>Total Properties for Sale</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-6">
                <div class="card text-white bg-danger">
                  <div class="card-body pb-0">
                    <button type="button" class="btn btn-transparent p-0 float-right">
                      <i class="icon-location-pin"></i>
                    </button>
                    <div class="text-value">{{seller_totalPropertiesSold}}</div>
                    <div>Total Properties Sold</div>
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
          </div>

           <!-- -------------------------------------------- -->

           <div class="card-content table-responsive" *ngIf="landRegistry_showLandRegistryFlag">
              <div class="row">
                <div class="col-6">
                  <div class="card text-white bg-dark">
                    <div class="card-body pb-0">
                      <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                      </button>
                      <div class="text-value">{{landRegistry_totalPropertiesForApproval}}</div>
                      <div>Properties yet to be Approved</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-6">
                  <div class="card text-white bg-danger">
                    <div class="card-body pb-0">
                      <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                      </button>
                      <div class="text-value">{{landRegistry_totalPropertiesApproved}}</div>
                      <div>Properties already Approved</div>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
            </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;font-size: 22px;">
                </div>
                <div class="panel-body">
                  <div>
                    <canvas id="ChartRewardSpecificDetails" style="width:100%;height:300px;display: block;">{{ChartRewardSpecificDetails}}</canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</form>