<form #myForm="ngForm">
    <h1>
        <span *ngIf="isSellerAccessingFlag">Update</span>
        <span *ngIf="!isSellerAccessingFlag">Buy</span> Property </h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>
                        <span *ngIf="isSellerAccessingFlag">Update - {{currentProperty.property_name}}</span> for Buyer
                        '{{buyproperty.buyer_uuid}}'

                        <span *ngIf="!isSellerAccessingFlag">Buy New Property</span>
                    </strong>
                </div>
                <div class="card-body">

                    <div *ngIf="!isSellerAccessingFlag">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="select2">Select Property to buy
                                <strong>(*)</strong></label>
                            <div class="col-md-9">
                                <select [(ngModel)]="currentProperty.uuid" (change)="onSelectProperty($event)"
                                    name="property_uuid" class="form-control form-control-lg" required>
                                    <option *ngFor="let property of propertyList" [value]="property.uuid">
                                        {{property.property_name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="property_price">Price quoted by seller</label>
                            <input [(ngModel)]="currentProperty.property_price" type="text" name="property_price"
                                class="form-control" disabled>
                        </div>

                        <div class="form-group">
                            <label for="buyer_asking_price">Buyer Asking Price <strong>(*)</strong></label>
                            <input [(ngModel)]="buyproperty.buyer_asking_price" type="text" name="buyer_asking_price"
                                class="form-control" placeholder="" required>
                        </div>

                        <div class="form-group">
                            <label for="buyer_remarks">Buyer Remarks</label>
                            <textarea [(ngModel)]="buyproperty.buyer_remarks" type="text" name="buyer_remarks"
                                class="form-control" placeholder=""></textarea>
                        </div>
                    </div>

                    <div *ngIf="isSellerAccessingFlag">
                        <div class="form-group">
                            <label for="current_status">Current Status &nbsp;&nbsp;</label>
                            <select [(ngModel)]="buyproperty.current_status" name="current_status">
                                <option *ngFor="let propertyStatus of htmlPropertyStatusArr" [value]="propertyStatus">
                                    {{propertyStatus}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seller_remarks">Seller Remarks</label>
                            <textarea [(ngModel)]="buyproperty.seller_remarks" type="text" name="seller_remarks"
                                class="form-control" placeholder=""></textarea>
                        </div>

                        <div> Upload Agreement Document
                            <label class="btn btn-default">
                                <input type="file" id="htmlImageLink" (change)="onFileUpload($event)">
                            </label>
                        </div>

                    </div>


                </div>
                <div class="card-footer">
                    <button [disabled]="myForm.invalid" type="submit" class="btn btn-sm btn-primary"
                        (click)="onSubmit()">
                        <i class="fa fa-dot-circle-o"></i>
                        <span *ngIf="isSellerAccessingFlag">Update</span>
                        <span *ngIf="!isSellerAccessingFlag">Buy</span>
                        Property
                    </button>
                    <button type="reset" class="btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>

        </div>
        <!--/.row-->
    </div>
</form>