<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Log In</h1>
                <!-- <p class="text-muted">Log in as particular user</p> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="user.login_name" name="login_name" type="text" class="form-control" placeholder="Username" autocomplete="username"
                    required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="Password" autocomplete="new-password"
                    required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <select [(ngModel)]="user.type" name="userType">
                    <option *ngFor="let userType of picklistUserTypes" [value]="userType">{{userType}}</option>
                  </select>
                </div>
                <span class="help-block">(login : 'admin' and password : 'admin') - Default login credentials for Realtor and Land Registry </span>

                <button type="button" class="btn btn-block btn-success" (click)="onClickLogin()">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>