<div class="contanier">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="card">
        <div class="card-header" data-background-color="orange">
          <h4 class="title">{{displayHtmlCrudtypeText}} {{displayHtmlIncentiveTypeText}}s</h4>
        </div>
        <div class="card-content table-responsive">
          <div class="row img-div">

            <div class="col-sm-8">
              <div class="container-fluid">
                <form #incentiveForm="ngForm">
                  <fieldset [disabled]="incentive.is_deleted">
                    <div *ngIf="incentive.is_deleted">
                      <div class="p-3 mb-2 bg-danger text-white">This {{displayHtmlIncentiveTypeText}} is deleted and
                        you won't be able to edit any fields.</div>
                    </div>
                    <div> Upload {{displayHtmlIncentiveTypeText}} Image
                      <div class="panel-body">
                        <img [src]="htmlImageLink" class="img-fluid img-main" style="width:50%;" />
                      </div>

                      <label class="btn btn-default">
                        <input type="file" id="htmlImageLink" (change)="onImageUpload($event)">
                      </label>
                    </div>

                    <div class="form-group">
                      <label for="">Name (*) </label>
                      <input type="text" class="form-control" [(ngModel)]="incentive.name" name="name" placeholder="Enter full name"
                        required>                      
                    </div>

                    <div class="form-group">
                      <label>Summary (*) </label>
                      <input type="text" class="form-control" [(ngModel)]="incentive.summary" name="summary"
                        placeholder="" required>
                      <small id="csummaryHelp" class="form-text text-muted" style="background-color: #f4f4f4;border:none">A
                        brief summary about this {{displayHtmlIncentiveTypeText}}. </small>
                    </div>
                    <div *ngIf="isCouponFlag">
                      <div class="form-group">
                        <label>Description: </label>
                        <textarea type="text" class="form-control" [(ngModel)]="incentive.description" name="description"></textarea>
                      </div>

                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Discount Type *:</label>
                            <select class="form-control" [(ngModel)]="incentive.discount_type" name="discount_type">
                              <option *ngFor="let discType of htmlDiscountTypeArr" [value]="discType">{{discType}}</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>Value *: </label>
                            <input type="text" class="form-control" [(ngModel)]="incentive.discount_value" name="discount_value">
                            <small id="cvalueHelp" class="form-text text-muted"></small>
                          </div>
                        </div>

                        <fieldset [disabled]="!isCurrentCrudTypeCreateFlag">
                          <div class="col-sm-12" *ngIf="!isBatchIncentiveFlag">
                            <div class="form-group">
                              <label>{{displayHtmlIncentiveTypeText}} Code:</label>
                              <input type="text" class="form-control" [(ngModel)]="incentive.code" name="code">
                              <small id="ccodeHelp" class="form-text text-muted">Uneditable after created.</small>
                            </div>
                          </div>
                        </fieldset>

                      </div>
                    </div>
                    <!-- Batch incentives (Start) -->
                    <fieldset [disabled]="!isCurrentCrudTypeCreateFlag">
                      <div class="form-group">
                        <label>Is this {{displayHtmlIncentiveTypeText}} : </label>
                        <label class="radio-inline">
                          <input type="radio" [value]="false" name="is_batch" (change)="onBatchRadioChange(false)"
                            [(ngModel)]="incentive.is_batch">Normal
                        </label>
                        <label class="radio-inline">
                          <input type="radio" [value]="true" name="is_batch" (change)="onBatchRadioChange(true)"
                            [(ngModel)]="incentive.is_batch">Batch
                        </label>
                      </div>
                    </fieldset>

                    <div *ngIf="isBatchIncentiveFlag && isCurrentCrudTypeCreateFlag">
                      <div class="form-group">
                        <label>Batch Name: </label>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="incentive.batch_name" name="batch_name">
                      </div>
                      <div class="form-group">
                        <label>No. of {{displayHtmlIncentiveTypeText}}(s): </label>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="incentive.batch_count" name="batch_count">
                      </div>
                    </div>
                    <div class="form-group" *ngIf="isRewardFlag">
                      <label>Reward Points:</label>
                      <input type="text" class="form-control" [(ngModel)]="incentive.reward_points" name="reward_points">
                      <small id="rewardPointsHelp" class="form-text text-muted"></small>
                    </div>
                    <!-- Batch incentives (End) -->


                    <div class="form-group">
                      <label>Video Link:</label>
                      <input type="text" class="form-control" [(ngModel)]="incentive.video_url" name="video_url">
                      <small id="cvideo_urlHelp" class="form-text text-muted">Video helps customers to know better
                        about this item.</small>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="inline-radios">Is this
                        {{displayHtmlIncentiveTypeText}} be</label>
                      <div class="col-md-9 col-form-label">
                        <div class="form-check form-check-inline mr-1" id="inline-radios">
                          <input class="form-check-input" [value]="true" type="radio" name="inline-radios" id="inlineRadio1"
                            value="option1" [(ngModel)]="incentive.is_active">
                          <label class="form-check-label" for="inlineRadio1">Active</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" [value]="false" type="radio" name="inline-radios" id="inlineRadio2"
                            value="option2" [(ngModel)]="incentive.is_active">
                          <label class="form-check-label" for="inlineRadio2">Inactive</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Category *: </label>
                          <select class="form-control" [(ngModel)]="incentive.category" name="category">
                            <option *ngFor="let cat of htmlCategoriresArr" [value]="cat">{{cat}}</option>
                          </select>
                          <small id="ccategoryHelp" class="form-text text-muted">This will help in sorting/filtering
                            customers.</small>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="csubcategory">Subcategory *: </label>
                          <select class="form-control" [(ngModel)]="incentive.sub_category" name="sub_category">
                            <option>sub cat 1</option>
                            <option>sub cat 2</option>
                            <option>sub cat 3</option>
                            <option>sub cat 4</option>
                            <option>sub cat 5</option>
                          </select>
                          <small id="csubcategoryHelp" class="form-text text-muted">This will help in sorting/filtering
                            customers.</small>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Start Date *: </label>
                          <input type="text" class="form-control" [(ngModel)]="htmlStartTime" name="htmlStartTime"
                            [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
                            [minDate]="customMinDate" [maxDate]="customMaxDate" bsDatepicker placement="top" required>
                          <small id="cstartDateTimeHelp" class="form-text text-muted">Start date time of the
                            {{displayHtmlIncentiveTypeText}}.</small>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>End Date *: </label>
                          <input type="text" class="form-control" [(ngModel)]="htmlEndTime" name="htmlEndTime"
                            [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
                            [minDate]="customMinDate" [maxDate]="customMaxDate" bsDatepicker placement="right" required>
                          <small id="cendDateTimeHelp" class="form-text text-muted">End date time of the
                            {{displayHtmlIncentiveTypeText}}.</small>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button [disabled]="incentiveForm.invalid" class="btn btn-primary" (click)="onClickSubmit()">{{displayHtmlCrudtypeText}}
                        {{displayHtmlIncentiveTypeText}}</button>
                      <span *ngIf="!isCurrentCrudTypeCreateFlag">
                        <button class="btn btn-primary" (click)="onClickDelete()">Delete
                          {{displayHtmlIncentiveTypeText}}</button>
                      </span>
                      <button class="btn btn-primary" (click)="onClickCancel()">Cancel</button>
                    </div>

                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  