<h1> New Buyer Details </h1>
<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="login_name">Login Name <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="login_name" type="text" name="login_name" class="form-control" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password">Password <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="password" type="text" name="password" class="form-control" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="first_name">First Name <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.first_name" type="text" name="first_name" class="form-control" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="middle_name">Middle Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.middle_name" type="text" name="middle_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="last_name">Last Name <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.last_name" type="text" name="last_name" class="form-control" placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="spouse_first_name">Spouse First Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.spouse_first_name" type="text" name="spouse_first_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="spouse_middle_name">Spouse Middle Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.spouse_middle_name" type="text" name="spouse_middle_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="spouse_last_name">Spouse Last Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.spouse_last_name" type="text" name="spouse_last_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="father_first_name">Father First Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.father_first_name" type="text" name="father_first_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="father_middle_name">Father Middle Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.father_middle_name" type="text" name="father_middle_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="father_last_name">Father Last Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.father_last_name" type="text" name="father_last_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="mother_first_name">Mother First Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.mother_first_name" type="text" name="mother_first_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="mother_middle_name">Mother Middle Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.mother_middle_name" type="text" name="mother_middle_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="mother_last_name">Mother Last Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.mother_last_name" type="text" name="mother_last_name" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="street_address">Street Address</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.street_address" type="text" name="street_address" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="city">City</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.city" type="text" name="city" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="state">State</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.state" type="text" name="state" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="country">Country</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.country" type="text" name="current_address" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="phone_number">Phone Number</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.phone_number" type="text" name="phone_number" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">Email</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.email" type="text" name="email" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="passport">Passport Number</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.passport" type="text" name="passport" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="DL">Driver License Number</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.DL" type="text" name="DL" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="gov_id">Government Issued ID</label>
                <div class="col-md-6">
                    <input [(ngModel)]="buyer.gov_id" type="text" name="gov_id" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-actions">
                <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()">Save Buyer</button>
                <button class="btn btn-secondary" type="button">Cancel</button>
            </div>
        </div>
    </div>
</form>


<!-- <h1> New Buyer Details </h1>
<div class="row">
    <div class="col-sm-8">

        <div class="form-group">
            <label for="login_name">Login Name</label>
            <input [(ngModel)]="login_name" type="text" name="login_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="password" type="text" name="password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input [(ngModel)]="buyer.first_name" type="text" name="first_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="middle_name">Middle Name</label>
            <input [(ngModel)]="buyer.middle_name" type="text" name="middle_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input [(ngModel)]="buyer.last_name" type="text" name="last_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="spouse_first_name">Spouse First Name</label>
            <input [(ngModel)]="buyer.spouse_first_name" type="text" name="spouse_first_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="spouse_middle_name">Spouse Middle Name</label>
            <input [(ngModel)]="buyer.spouse_middle_name" type="text" name="spouse_middle_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="spouse_last_name">Spouse Last Name</label>
            <input [(ngModel)]="buyer.spouse_last_name" type="text" name="spouse_last_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="father_first_name">Father First Name</label>
            <input [(ngModel)]="buyer.father_first_name" type="text" name="father_first_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="father_middle_name">Father Middle Name</label>
            <input [(ngModel)]="buyer.father_middle_name" type="text" name="father_middle_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="father_last_name">Father Last Name</label>
            <input [(ngModel)]="buyer.father_last_name" type="text" name="father_last_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="mother_first_name">Mother First Name</label>
            <input [(ngModel)]="buyer.mother_first_name" type="text" name="mother_first_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="mother_middle_name">Mother Middle Name</label>
            <input [(ngModel)]="buyer.mother_middle_name" type="text" name="mother_middle_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="mother_last_name">Mother Last Name</label>
            <input [(ngModel)]="buyer.mother_last_name" type="text" name="mother_last_name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="street_address">Street Address</label>
            <input [(ngModel)]="buyer.street_address" type="text" name="street_address" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input [(ngModel)]="buyer.city" type="text" name="city" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input [(ngModel)]="buyer.state" type="text" name="state" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input [(ngModel)]="buyer.country" type="text" name="current_address" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input [(ngModel)]="buyer.phone_number" type="text" name="phone_number" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="buyer.email" type="text" name="email" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="passport">Passport Number</label>
            <input [(ngModel)]="buyer.passport" type="text" name="passport" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="DL">Driver License Number</label>
            <input [(ngModel)]="buyer.DL" type="text" name="DL" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="gov_id">Government Issued ID</label>
            <input [(ngModel)]="buyer.gov_id" type="text" name="gov_id" class="form-control" placeholder="">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save Buyer</button>
            <button class="btn btn-secondary" type="button">Cancel</button>
        </div>
    </div>
</div> -->