The Support details will be shown here.
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <h4 class="title">Account Support</h4>
            <div class="dropdown available-dropdown">
              <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #f2f3f7;">Available
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="">
                <li>
                  <a href="#">First</a>
                </li>
                <li>
                  <a href="#">Second</a>
                </li>
                <li>
                  <a href="#">Third</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-content table-responsive">
            <div class="row">
              <div class="col-xs-12">
                <h2 style="text-align: center;">Commercex Support</h2>
                <h4 style="text-align: center;">EmailId:support@rewardx.com</h4>
                <h4 style="text-align: center;">Callus:(630) 480-6108</h4>
              </div>
            </div>
            <div class="row">
              <div class="card">
                <div class="card-header" data-background-color="orange">
                  <h4 class="title">Have a question? Just ask</h4>

                </div>
                <div class="card-content table-responsive">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="this.description" placeholder="Enter your Question here"
                          rows="9" id="question" style="background-color: #f2f3f7"></textarea>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="" style="background-color: #f2f3f7;padding:10px;">
                        <h4>Additional Support</h4>
                        <ul>
                          <li>Manage your partner card</li>
                          <li>Resource center</li>
                          <li>Marketing belt</li>
                          <li>Cancel Kryptoblocks subscription</li>
                          <li>Frequently asked question</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3">
                      <button class="btn btn-primary" (click)="cancel()" style="width:120px;background-color: #000;height:40px;">Send</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>